.Home {
    width: 50%;
    padding: 8vh 0;
    margin-left: auto;
    margin-right: auto;
}

.Home h1 {
    text-align: center;
    font-size: 7cqw;
    margin-bottom: 0px;
    padding-bottom: 0px;
    letter-spacing: -1px;
}

.Home h2 {
    margin-left: 6%;
    font-size: 1.5cqw;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
}

.homeDescription {
    display: table;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1cqw;
    font-weight: 200;
}

.descriptionLeft {
    width: 42%;
    display: inline-block;
    padding-left: 6%;
    padding-right: 2%;
    vertical-align: top;
}

.descriptionRight {
    width: 46%;
    display: inline-block;
    padding-right: 2%;
    padding-left: 2%;
    vertical-align: top;
}

.homeSocials {
    margin-top: 0px;
    width: 100%;
}