.Home {
    width: 50%;
    padding: 7vh 0;
    margin-left: auto;
    margin-right: auto;
}

.Home h1 {
    text-align: center;
    font-size: 7cqw;
    margin-bottom: 0px;
    padding-bottom: 0px;
    letter-spacing: -1px;
    animation: 1.2s ease-in 0s 1 slideInFromTopSlight;
}

.Home h2 {
    margin-left: 3%;
    font-size: 1.5cqw;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 6%;
    font-family: 'futura';
    animation: 1.4s ease-in 0s 1 slideInFromTop;
}

.homeDescription {
    display: table;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1cqw;
    font-weight: 200;
    font-family: 'futura';
    animation: 1.6s ease-in 0s 1 slideInFromTop;
}

.descriptionLeft {
    width: 45%;
    display: inline-block;
    padding-left: 3%;
    padding-right: 2%;
    vertical-align: top;
}

.descriptionRight {
    width: 49%;
    display: inline-block;
    padding-right: 1%;
    padding-left: 0%;
    vertical-align: top;
}

.homeSocials {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1cqw;
    font-weight: 200;
    font-family: 'futura';
    animation: 1.8s ease-in 0s 1 slideInFromTop;
}

.socialsContainer {
    width: 10%;
    height: 120px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.socialsContainer img {
    width: 60%;
    object-fit: contain;
    margin-bottom: 10%;
}

.socialsContainer img:hover {
    margin-top: 5%;
    margin-bottom: 5%;
}

.socialsContainer p {
    margin-top: 0px;
}

@font-face {
    font-family: 'futura';
    src: local('Futura Book'), url(../../fonts/futura/Futura_Book_font.woff2) format('woff2');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

@keyframes slideInFromTop {
    0% {
        opacity: 20%;
        transform: translateY(-100%);
    }

    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

@keyframes slideInFromTopSlight {
    0% {
        opacity: 20%;
        transform: translateY(-50%);
    }

    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}