.Projects {
    width: 80%;
    margin: 8vh auto 5vh auto;
    font-family: 'futura';
}

.project-container {
    width: 100%;
    overflow: hidden;
}

.project-title-container {
    width: 89%;
    margin-left: auto;
    margin-right: auto;
}

.project-title-container h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.card-section {
    width: 89%;
    margin-left: auto;
    margin-right: auto;
}

.learnmore {
    cursor: pointer;
    margin-top: auto;
}

#socialMediaApp {
    background-image: url(../../assets/projects/socialmedia.png);
    background-color: rgba(0, 0, 0, 0.552);
    background-blend-mode: darken;
    background-size: cover;
}

#wissApp {
    background-image: url(../../assets/projects/WissLogoIcon.png);
    background-color: rgba(0, 0, 0, 0.552);
    background-blend-mode: darken;
    background-size: cover;
}